@charset "ISO-8859-1";

.message {
	background-color: 9FC5F8;
}

p {
	font-size: 25px;
    font-weight: bold;
    margin: 10px;
    padding: 10px;
}

.anchor {
	display: flex;
    justify-content: center;
}